# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
/Ejemplo1/target/
/Ejercicio_Dose/target/
/Ejercico_Catorce/target/
/EjemploClass3/nbproject/private/
/EjemploClass3/build/
/EjemploClass3/dist/
/EjemploClase4/nbproject/private/
/EjemploClase4/build/
/EjemploClass5/nbproject/private/
/PruebasFiguras/nbproject/private/
/Tareas/Tarea_1/JavaApplication6/nbproject/private/
/Tareas/Tarea_1/JavaApplication6/build/
/Tareas/Tarea_1/JavaApplication6/dist/
/Tareas/Tarea_1/EjercicioResuelto5/nbproject/private/
/Tareas/Tarea_1/EjercicioResuelto5/dist/
/Tareas/Tarea_1/EjercicioResuelto5/build/
/Tareas/Tarea_1/EjercicioPropuesto12/nbproject/private/
/Tareas/Tarea_1/EjercicioPropuesto12/build/
/Tareas/Tarea_1/EjercicioPropuesto12/dist/
/Tareas/Tarea_1/ejercicioPropuesto14/nbproject/private/
/Tareas/Tarea_1/ejercicioPropuesto14/dist/
/Tareas/Tarea_1/ejercicioPropuesto14/build/
/Tareas/Tarea_1/ejercicioPropuesto17/nbproject/private/
/Tareas/Tarea_1/ejercicioPropuesto17/dist/
/Tareas/Tarea_1/ejercicioPropuesto17/build/
/Semanas/Semana3/Dummy22February/nbproject/private/
/Semanas/Semana3/Dummy22February/build/
/Semanas/Semana3/Dummy22February/dist/
/Semanas/Semana3/Atributes/nbproject/private/
/Semanas/Semana3/Atributes/build/
/Semanas/Semana3/Atributes/dist/
/Semanas/Semana3/PruMethodos/nbproject/private/
/Semanas/Semana3/PruMethodos/build/
/Semanas/Semana3/PruMethodos/dist/
/Semanas/Semana3/PruMethodos1/nbproject/private/
/Semanas/Semana3/PruMethodos1/build/
/Semanas/Semana3/PruMethodos1/dist/
/Semanas/Semana3/Constructor/nbproject/private/
/Semanas/Semana3/Constructor/dist/
/Semanas/Semana3/Constructor/build/
/Semanas/Semana3/Modifiers/nbproject/private/
/Semanas/Semana3/Modifiers/build/
/Semanas/Semana3/Modifiers/dist/
/Semanas/Semana3/Encapsulation/nbproject/private/
/Semanas/Semana3/Encapsulation/dist/
/Semanas/Semana3/Encapsulation/build/
/Semanas/Semana3/JavaPackages/nbproject/private/
/Semanas/Semana3/JavaPackages/dist/
/Semanas/Semana3/JavaPackages/build/
/Semanas/Semana3/JavaPackages1/nbproject/private/
/Semanas/Semana3/JavaPackages1/build/
/Semanas/Semana3/JavaPackages1/dist/
